button {
  background-color: transparent;
  border-color: transparent;

  &:focus {
    outline: none;
  }
}

select {
  height: 20px;

  &:focus {
    outline: none;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdbebd;
  font-family:Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.table {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #fff;
}

.tableRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;

  &:nth-of-type(2n+3) {
    background-color: #e9e9e9;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;

    p {
      margin: 0;
      padding: 0;
      text-align: center
    }
  }
}

.tableHead {
  flex: 0 0 auto;
  background-color: #000;
  color: #fff;
  
  button {
    min-width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: inherit;
  }
}

.tableBody {
  flex: 1 1 auto;
}

.tablePagination {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
  }

  button:hover {
    background-color: #e9e9e9
  }
}
